<% for article in @articles do %>
	
	<h2><%=link_to(h(article.title), article_path(article)) %></h2>
	
	<p><%= article.desc %></p>
	
	<!-- <div class="sourcecode">
		<%= article.sourcecode %>
	</div> -->
	<div class="category">
		Category: <%= article.category%>
	</div>
	<div class="tags">
		Tags: <%= article.tags %>
	</div>
	
	<% if admin? %>
	<p class="adminActions">
		<%= link_to "Edit", edit_article_path(article) %>
		<%= link_to "Destroy", article_path(article), :confirm => "Are you sure?", :method => :delete %>
	</p>
	<% end %>
	
<% end %>

<% if admin? %>
	<%= link_to "New", new_article_path %>
<% end %>