<h2><%=link_to(h(@articles.title), article_path(@articles)) %></h2>

<p><%= @articles.desc %></p>


<div class="sourcecode">
	<%= coderay(raw @articles.sourcecode) %>
</div>
<div class="category">
	Category: <%= @articles.category%>
</div>
<div class="tags">
	Tags: <%= @articles.tags %>
</div>